<div [ngClass]="{'full-width': !isSidebarVisible}">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="onToggleSidebar()" class="toggle-btn">
      <mat-icon>{{ isSidebarVisible ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <h1>SDLC Mate</h1>
  </mat-toolbar>

  <mat-tab-group class="tabs-container" [selectedIndex]="selectedTabIndex">
    <mat-tab label="User Story Creation">
      <app-user-story-tab [uploadedDocument]="uploadedDocument" (userStoriesGenerated)="onUserStoriesGenerated($event)"></app-user-story-tab>
    </mat-tab>
    <mat-tab label="User Story to Test Case">
      <app-test-case-tab [uploadedDocument]="uploadedDocument" [generatedUserStories]="generatedUserStories"></app-test-case-tab>
    </mat-tab>
    <mat-tab label="Test Case to Cucumber Script">
      <app-cucumber-tab [uploadedDocument]="uploadedDocument"></app-cucumber-tab>
    </mat-tab>
    <mat-tab label="Test Case to Selenium Script">
      <app-selenium-tab [uploadedDocument]="uploadedDocument"></app-selenium-tab>
    </mat-tab>
  </mat-tab-group>
</div>

