.container {
  height: 100vh;
  display: flex;
}

.sidenav {
  width: 250px;
  border-right: 1px solid #e0e0e0;
}

:host ::ng-deep {
  mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav-content {
    overflow: auto;
  }
}
